# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.venv/
venv/
.env
.env.*

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/
